<h1 class="animated fast fadeIn">Sobre Comit App</h1>
<hr>
<p class="animated  fadeIn">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, libero cumque id vel laborum veniam deleniti cupiditate repudiandae qui esse optio, maxime iste nesciunt voluptatibus laudantium dicta officia unde tenetur!</p>

<iframe width="560" height="315" 
src="https://www.youtube.com/embed/swQEbZ6ez1I" 
title="YouTube video player" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write;
 encrypted-media; gyroscope; picture-in-picture; 
 web-share" allowfullscreen></iframe>