<h1 class="animated fast fadeIn"> {{ infoheroe.nombre | uppercase }} <small>({{ infoheroe.aparicion }})</small></h1>
<hr>
<div class="row animated fast fadeIn">
    <div class="col-md-4">
        <img [src]="infoheroe.img" class="img-fluid" [alt]="infoheroe.nombre">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block" >Regresar a Home</a>

    </div>
    <div class="col-md-8">
        <h3>{{ infoheroe.nombre}}</h3>
        <hr>
        <p>
            {{ infoheroe.bio}}
        </p>
        <div>
<!--             <img *ngIf="infoheroe.casa == 'Marvel'" class="img-logo" src="assets/img/marvel-logo-4.png" alt="marvel">
            <img *ngIf="infoheroe.casa == 'DC'"  class="img-logo" src="assets/img/dc-universe.png" alt="dc"> -->

            <div *ngIf="infoheroe.casa == 'Marvel'; else elseBlock">
                <img class="img-logo" src="assets/img/marvel-logo-4.png" alt="marvel">
            </div>
            <ng-template #elseBlock>
                <img class="img-logo" src="assets/img/dc-universe.png" alt="dc">
            </ng-template>
              
        </div>

    </div>
</div>
